# Logs e arquivos de configuração temporários
*.log
.env

# Diretórios de build/temporários
tmp/
dist/
node_modules/

# Dados persistentes
mysql_data/

# Outros padrões comuns para evitar arquivos locais
*.pid
*.sock
.DS_Store
